.contain {
    display: inline-block;
}

button {
    width: 200px;
    height: 125px;
    margin: 0 auto;
}

.buttwo {
    font-size: 43px;
    margin: 2px;
}

h1 {
   
    margin-left: 20px;
}


.num {
    background-color: lightgray;
}

.operator {
    background-color: darkgray;
}

.equal {
    background-color: lightskyblue;
}



.boxing {

    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
}

.cards {
    height: 300px;
    border: 1px solid rgba(0,0,0,.125);
    
}